@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobilone</h1>
    <p class="lead">Porgram dyspozytor służący do usprawnienia pracy dyspozytora spedycji</p>
    <p><a href="https://mobilone.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O programie</h2>
        <p>
            Program Dyspozytor
            Jest to aplikacja komputerowa która zawiera całą funkcjonalność potrzebną w transporcie i spedycji oraz pozwala zarządzać pojazdami wyposażonymi w Komunikator kierowcy
        </p>
    </div>
    <div class="col-md-4">
        <h2>Komunikacja</h2>
        <p>Specjalistyczne oprogramowanie serwerowe, które pozwala na komunikację Dyspozytora z Komunikatorami. Zawiera moduły do przesyłania komunikatów i zleceń oraz bazę danych do gromadzenia tras przejazdu poszczególnych komunikatorów.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://mobilone.com">Learn more &raquo;</a></p>
    </div>
</div>